*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Khula', sans-serif;
}

header{
    margin: 0;
    width: 100vw;
    background-color: white;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

nav{
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #9aa18759;
    color: white;
}

nav h1{
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #232e6e;
    transition: 0.25s ease-in-out;
}

.menu{
    list-style: none;
    width: 25vw;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu li{
    display: inline-block;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}

.menu li a{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #232e6eca;
    padding: 5px;
    transition: 0.25s ease-in-out;
}

.menu li a:hover{
    background-color:#232e6e;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.container{
    padding: 0;
    transform-style: preserve-3d;
    position: relative;
    column-count: 4;
    padding: 20px;
    top: 20vh;
}

.image{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

.image h1{
    background: #9aa18759;
    border-radius: 5px;
}

.image:hover h1{
    opacity: 0.8;
    letter-spacing: -1px;
}

img{
    width: 100%;
    transition: .25s ease-in-out;
}

.image:hover img{
    transform: scale(1.1);
}

.container h1{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    color: white;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
}