* {
    margin: 0 auto;
}

body {
    --color-primary: white;
    --color-secoundary: ;
    --color-Primary-dark: ;
    --color-secoundary-dark: ;
    --error-error: ;
}

body#container {
    position: relative;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-image: url(Bilder/Van\ Gogh-Homepage.png);
    background-position: center;
    background-size: cover;
    min-height: 768px;
    min-width: 1024px;
    height: 100vh;
}

div#Text__remove {
    font-family: 'righteous', 'sans-serif';
    line-height: 74%;
    letter-spacing: -20px;
    font-size: 19rem;
    font-weight: bold;
    height: 100vh;
    background-size: contain;
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    mix-blend-mode: screen;
    transition: background-color 1.25s ease-out 100ms;
}

div#Text__remove:hover {
    background-color: black;
}

.scroll__down {
    background-image: url(Bilder/bilde.svg);
    text-align: center;
    height: 50px;
    width: 40px;
    background-repeat: no-repeat;
    border: none;
    margin-left: 50%;
    margin-top: 70%;
    position: absolute;
    color: white;
    transition: ease-in;
}