*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Khula', sans-serif;
}

/*Header*/
header{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    color:rgb(59,84,86);
    justify-content: center;
    background-color: rgb(59,84,86);
    color: white;
    padding-top: 20px;
}

/*Navigation*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(59,84,86);
}

nav{
    display: flex;
    text-decoration: none;
    justify-content: center;
}
nav ul{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 20px;
    
}

nav li{
    display: inline;
    
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 00.25s ease-in-out;
}

nav li a:hover{
    background-color: #337175be;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/trær.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
}


h2{
    font-size: 35px;
    padding: 20px;
    color: white;
    font-family: 'Playfair Display SC', serif;
}

p{
    font-size: 20px;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    color: white;
}

#white-box{
    margin: 100px;
    background-color: rgb(59,84,86);
    padding: 20px 40px 40px 20px;
    border-radius: 20px;
    
}

