*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Header*/
header{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: center;
    background-color: whitesmoke;
    color: rgb(59,84,86);
    padding-top: 20px;   
}

/*Navigation*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:whitesmoke;
}

nav{
    display: flex;
    text-decoration: none;
    justify-content: center;
}
nav ul{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 20px;
    
}

nav li{
    display: inline;
    
}

nav li a{
    text-decoration: none;
    color: rgb(59,84,86);
    padding: 5px;
    transition: 00.25s ease-in-out;
    font-family: 'Playfair Display', serif;
}

nav li a:hover{
    background-color: #337175be;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/*Main*/
#section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/trær.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
}


h2{
    font-size: 35px;
    padding: 20px;
    color: rgb(59,84,86);
    font-family: 'Playfair Display SC', serif;
}

p{
    font-size: 20px;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    color: rgb(59,84,86);
    column-count: 2;
}

#white-box{
    margin: 100px;
    background-color: whitesmoke;
    border: 1px solid rgb(59,84,86);
    padding: 40px;
}

#fade-in{
    position: relative;
}

#fade-in img{
    position: absolute;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 15s;
    }
    :nth-of-type(1){
        animation-delay: 15s;
    }
    :nth-of-type(2){
        animation-delay: 10s;
    }
    :nth-of-type(3){
        animation-delay: 5s;
    }
    

@keyframes fade{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    50%{ 
        opacity: 0;
    }
    80%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1;
    }
    
}

.tre, .cafe, .original{
    height: 100vh;
    width: 100vw;

}


