/*Her startet du*/
*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Khula', sans-serif;
}

.home{
    height: 200vh;
}

.landing{
    height: 100vh;
    width: 100%;
    clip:rect(0, auto, auto, 0);
    position: absolute;
    overflow: hidden;
}

.landing-set{
    background: white;
    /*top: 0;*/
}

.slider{
    display: block;
    position: fixed;
    margin: auto;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slider h1{
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.landing-set .slider h1{
    background: url(media/blossom.jpeg);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: black;
}

.landing-image{
    background-image: url(media/blossom.jpeg);
    background-size: 100vw auto;
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-attachment: fixed;
    top: 100vh;
}

.landing-image .slider h1{
    color: white;
}
/*
section{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
*/
.intro-page{
    top: 0;
    position: sticky;
    z-index: 2;
}
.intro-page, main{
    box-sizing: border-box;
    padding: 0;
    background-color: whitesmoke;
}

.second-header{
    margin: 0;
    width: 100vw;
    background-color: white;
    z-index: 2;
}

nav{
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #9aa18759;
    color: white;
}
nav h1{
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #232e6e;
    transition: 0.25s ease-in-out;
}
.menu{
    list-style: none;
    width: 25vw;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu li{
    display: inline-block;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}

.menu li a{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #232e6eca;
    padding: 5px;
    transition: 0.25s ease-in-out;
}

.menu li a:hover{
    background-color:#232e6e;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

main{
    position: relative;
}

.intro-page h2, p{
    padding: 20px;
    color: rgb(30,39,79);
}
.intro-page p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
}
.intro-page p{
    font-size: 35px;
    font-family: 'Playfair Display SC', serif;
}

.section-container1{
    position: absolute;
    top: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.text-box1{
    margin: 100px;
    border: thick double rgb(30,39,79);
}
.text-box2{
    margin: 40px;
}
.text-box1, .text-box2{
    background-color: whitesmoke;
    padding: 40px;
    column-count: 3;
    flex-direction: row-reverse;
}

.info-box1, .info-box2{
    background-color: rgb(233, 232, 232);
}

.info-box2{
    width: 400px;
}

.funfact-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
}

.funfact1, .funfact2, .funfact3{
    background-color: rgb(233, 232, 232);
    border: 5px solid rgb(233, 232, 232);
    width: 30%;
    height: auto;
    margin: 30px 20px;
    justify-content: space-evenly;
    flex-direction: row;
    min-width: 280px;
    padding: 10px;
}

.box-h{
    padding: 10px 10px;
}

.box-p{
    padding: 5px 10px;
}

.fade-in{
    position: relative;
}

.fade-in img{
    position: absolute;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 15s;
    }
    :nth-of-type(1){
        animation-delay: 15s;
    }
    :nth-of-type(2){
        animation-delay: 10s;
    }
    :nth-of-type(3){
        animation-delay: 5s;
    }
    

@keyframes fade{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    50%{ 
        opacity: 0;
    }
    80%{ 
        opacity: 0;
    }
    100%{ 
        opacity: 1;
    }
}

.tre, .cafe, .original{
    height: 100vh;
    width: 100vw;
}

.hatt-img{
    width: 400px;
    height: 300px;
}

.funfact-container img{
    width: 100%;
    height: 400px;
}
/*

.landing{
    background-image: url(media/blossom.jpeg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.slider{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Khula', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.815);
    animation: fadeOut ease 5s forwards;
    position: fixed;
}

.landing-text{
    background: url(media/blossom.jpeg);
    height: 100vh;
    width: 100vw;
    padding-top: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: unset;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

.button{
    margin-top: 550px;
    height: 75px;
    animation: fadeIn ease 5s forwards;
    transition: .3s ease;
}
.button:hover{
    transform: scale(1.5);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

/*
section{
    height: 100vh;
    width: 100vw;
}

header{
    width: 100vw;
    height: 25vh;
    background-color: #9aa187;
}
ul{
    list-style: none;
}*/